<ion-content [fullscreen]="true">
  <div id="container">
    <div class="login-bg"></div>

    <form class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="login()">
      <section class="title-container">
        <h3 class="welcome">VMware Cloud Provider</h3>
        <h2 class="subtitle">COMMERCE PORTAL</h2>
        <span class="logo"></span>
      </section>

      <section class="ion-margin ion-padding input-container">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Username <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required
              formControlName="username"
              type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required
              formControlName="password"
              type="password"></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block"
            type="submit"
            [disabled]="submitting || loginForm.invalid"
            class="ion-no-margin btn-primary">
            <ion-spinner *ngIf="submitting"
              name="circles"></ion-spinner>
            Login
          </ion-button>

          <ion-text color="danger"
            *ngIf="error">
            <p>{{ error.message }}</p>
          </ion-text>
        </div>
      </section>
    </form>
  </div>
</ion-content>
