#container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  .login-bg {
    background-image: url(../../../assets/images/login.png);
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    .logo {
      background-image: url(../../../assets/images/logo.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 4rem;
      height: 4rem;
    }

    .input-container {
      margin-top: 2rem;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
}

ion-button {
  --background: #0072a3;
}
