<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Report
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Report</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-padding-top">
    <ion-card-header>
      <ion-card-title class="card-title">
        <ion-icon name="stats-chart"
          color="primary"></ion-icon>
        &nbsp;Usage Report
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="dashboard-container"
        #dashboardContainer>
        <div #usageContainer
          style="height:18rem;"></div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
