/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

ion-header {
  background: linear-gradient(to right, #a0ddea, #50e3c2);
}
ion-toolbar {
  --color: var(--ion-color-dark);
  --background: linear-gradient(to right, #a0ddea, #50e3c2);
}

.card-title {
  font-weight: 400;
  font-size: 1.2rem;
}

.btn-primary {
  --color: white;
  --background: var(--clr-btn-primary-bg-color, #0072a3);
}
.btn-outline {
  --color: var(--clr-btn-primary-bg-color, #0072a3);
  --border-color: var(--clr-btn-primary-border-color, #0072a3);
}
