<ion-content [fullscreen]="true">
  <section class="user-section">
    <div class="avatar-container">
      <div class="square"></div>

      <ion-avatar>
        <img src="../../../assets/images/avatar.svg">
      </ion-avatar>
    </div>

    <div class="user-container">
      <div class="email">{{ user.email }}</div>
      <h2>{{ name }}</h2>
      <div class="badges">
        <ion-badge [color]="badgeColor(i)"
          style="margin: 0 1rem 0.5rem 0; line-height: 1rem;"
          *ngFor="let r of user.roles; index as i">{{ r.name }}</ion-badge>
      </div>
    </div>
  </section>

</ion-content>
