<ion-content [fullscreen]="true">
  <section class="user-section">
    <div class="avatar-container">
      <div class="square"></div>

      <ion-avatar>
        <img src="../../../assets/images/avatar.svg">
      </ion-avatar>
    </div>

    <div class="user-container">
      <div class="email">{{ user.email }}</div>
      <h2>{{ name }}</h2>
      <div class="badges">
        <ion-badge [color]="badgeColor(i)"
          *ngFor="let r of user.roles; index as i">{{ r.name }}</ion-badge>
      </div>
    </div>
  </section>

  <!--logout button html -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <div id="logout-button">
      <ion-fab-button (click)="logOutOnProfile()">
        <!--Basic: auto-select the icon based on the platform -->
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>

</ion-content>
